/* Réinitialisation des styles et configuration générale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: centery;
}

/* En-tête */
header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(maria.jpg);
    display: flex;
    align-items: center; /* Centrez verticalement le contenu */
    justify-content: center; /* Centrez horizontalement le contenu */
}

/* Barre de navigation */
ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alignez les éléments à droite */
    align-items: center;
    margin-top: 20px;
}

ul li a {
    text-decoration: none;
    color: #1a1515;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover {
    background: #f357b2;
    color: #f57fc8;
}

/* Titre */
.titre {
    text-align: center; /* Centrez horizontalement le texte */
}

.titre h1 {
    color: #f50b8b;
    font-size: 70px;
}

/* Ajoutez des règles pour les écrans de taille moyenne (tablettes) */
@media (max-width: 768px) {
    /* Placez ici les styles spécifiques aux tablettes si nécessaire */
}

/* Ajoutez des règles pour les écrans étroits (smartphones) */
@media (max-width: 480px) {
    /* Placez ici les styles spécifiques aux smartphones si nécessaire */
}
